<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <script src="vendor/codigo.json"></script>

	<title>Informações pessoais</title>

    <!-- Fontes para esse tema -->
      <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Tema CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template -->
  	<link href="css/sb-admin-2.min.css" rel="stylesheet">
		<!-- Custom styles for this page -->
   	<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  	<link rel="stylesheet" href="css/styles.css">	 
	<link href="css/freelancer.min.css" rel="stylesheet">
 <style>

    #aviso{
      border-radius: 20px; 
      margin-top: 7%;
      }
    #paragrafo{
      text-shadow: 1px 2px black;
      font-size: 200%;
      color:grey;
     
    }
    #formulario{
      border-radius: 20px; 
      font-size: 20px; 
      margin-left: 1%; 
      
    
  }
   
 </style>

</head>
<body id="page-top" style="background-image: url('images/plano_fundo_infor_pessoais.jpg');">
<th:block th:fragment="navBar" th:if="${session.usuarioLogado}">
  <!-- Page Wrapper -->
  <div id="wrapper" >

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/perfil}">
       <!-- <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div> -->
        <div class="sidebar-brand-text mx-3">Meu Perfil</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Charts -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/perfil}">
          <i class="fas fa-home"></i>
          <span>Meu Plano de Estudo</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/questoesDisciplina}">
          <i class="fas fa-pencil-alt"></i>
          <span>Questões</span></a>
      </li>

      <li class="nav-item active">
            <a class="nav-link" th:href="@{/material_disciplina}">
              <i class="fas fa-book"></i>
              <span>Materiais</span></a>
          </li>

          <li class="nav-item active">
                <a class="nav-link" th:href="@{/desempenho}">
                  <i class="fas fa-chart-bar"></i>
                  <span>Desempenho</span></a>
              </li>
              
              

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

    

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" >

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" >

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto" >

            <!--Divider-->
        <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="|${session.usuarioLogado.nome}|"></span>
                <img class="img-profile rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiasajo6RFSTR2RkHQrezDFvJ9QY85uHTkci7cpPof5hZSvuiq7g">
              </a>
              <!-- Dropdown - User Information -->
              <div  class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="|/editar_perfil?id_usuario=${session.usuarioLogado.id_usuario}|">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Editar Perfil
                </a>
                <a class="dropdown-item" th:href="@{/dados_pessoais}">
                  <i class="fa fa-address-card fa-sm fa-fw mr-2 text-gray-400"></i>
                  Dados Pessoais
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Sair
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
   		 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3" align="center" >
              <h6 class="m-0 font-weight-bold text-info" style="font-size: 25px;">Informações Pessoais</h6>
        	</div>
		<div class="card-body">
        
       
	<!--aviso
  	<div class="container" id="aviso">
  
 
    <div class=" col-12 col-md-12">
      <p class="display-10 font-italic" id="paragrafo">Preencha os dados a seguir para aproveitar todas as nossas ferramentas.<b> Nenhuma das suas informações serão publicadas!</b> </p>
    </div>
  </div> -->

   <!--formulario-->
  <div class="container" id="formulario" style="background-color:white">
    <div>
    <div class=" col-12 col-md-12">
      <p class="display-10 font-italic" id="paragrafo">Preencha os dados a seguir para aproveitar todas as nossas ferramentas.<b> Nenhuma das suas informações serão publicadas!</b> </p>
    </div>
  </div>
    
   <form th:action="@{/add_dadosPessoais}" th:object="${dadosUsuario}" method="post">
  	<input type="hidden" th:field="*{id_usuario}"/>
     <!-- 
   <input type="hidden" name="idUsuario" th:value="${session.usuarioLogado.id_usuario}" th:field="*{usuario}"> ${session.usuarioLogado.dados_usuario_id_usuario}
    -->
    <span style="display: none;"> <!-- Com o disply none apenas no option, só esconde no IE, com o span, esconde nos demais navegadores -->
    <select th:field="*{usuario}" class="hidden" name="usuario" id="usuario">
    	<option style="display: none;" th:value="${session.usuarioLogado.id_usuario}"></option>
    </select>
    </span>
    <div class="form-row">
      <div class="col-md-6 mb-2">
        <label style="color:black" for="estado">Estado</label>
        <select style="color:black" th:field="*{estado}" class="form-control" id="estado" name="estado" onchange="buscaCidades(this.value)" required="required">
            <option value="">Selecione o Estado</option>
            <option value="AC">Acre</option> 
            <option value="AL">Alagoas</option> 
            <option value="AM">Amazonas</option> 
            <option value="AP">Amapá</option> 
            <option value="BA">Bahia</option> 
            <option value="CE">Ceará</option> 
            <option value="DF">Distrito Federal</option> 
            <option value="ES">Espírito Santo</option> 
            <option value="GO">Goiás</option> 
            <option value="MA">Maranhão</option> 
            <option value="MT">Mato Grosso</option> 
            <option value="MS">Mato Grosso do Sul</option> 
            <option value="MG">Minas Gerais</option> 
            <option value="PA">Pará</option> 
            <option value="PB">Paraíba</option> 
            <option value="PR">Paraná</option> 
            <option value="PE">Pernambuco</option> 
            <option value="PI">Piauí</option> 
            <option value="RJ">Rio de Janeiro</option> 
            <option value="RN">Rio Grande do Norte</option> 
            <option value="RO">Rondônia</option> 
            <option value="RS">Rio Grande do Sul</option> 
            <option value="RR">Roraima</option> 
            <option value="SC">Santa Catarina</option> 
            <option value="SE">Sergipe</option> 
            <option value="SP">São Paulo</option> 
            <option value="TO">Tocantins</option> 
         </select>
      </div>
      <div class="col-md-6 mb-2">
        <label style="color:black" for="cidade">Cidade</label>
        <select style="color:black" th:field="*{cidade}" class="form-control" id="cidade" name="cidade" required="required">   
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-2">
        <label style="color:black" for="masculino">Sexo</label>
          <br>
          <input type="radio" th:field="*{sexo}"  id="masculino" name="sexo" value="masculino" required="required">
          <label style="color:black" for="masculino">Masculino</label>
			<br>
			<input type="radio" th:field="*{sexo}"  id="feminino" name="sexo" value="feminino" required="required">
           <label style="color:black" for="feminino">Feminino</label>
      </div>
      <div class="col-md-6 mb-2">
        <label style="color:black" for="nascimento">Data de Nascimento</label>
        <input style="color:black" type="date" th:field="*{dataNascimento}" class="form-control" id="nascimento" required="required">
      </div>
    </div>
      <div class="form-row">
      <div class="col-md-6 mb-2">
        <label  style="color:black" for="escolaridade">Escolaridade</label>
        <select style="color:black" th:field="*{escolaridade}" class="form-control" id="escolaridade" required="required">
        <option value=""> Selecione uma opção</option>
          <option value="Fundamental Incompleto">Ensino fundamental incompleto</option>
          <option value="Fundamental Completo">Ensino fundamental completo</option>
          <option value="Médio Incompleto">Ensino médio incompleto</option>
          <option value="Médio Completo">Ensino médio completo</option>
          <option value="Superior Completo(ou gradiação)">Ensino superior completo(ou graduação)</option>
          <option value="Pós-graduação">Pós-graduação</option>
        </select>
      </div>
      <div class="col-md-6 mb-2">
        <label style="color:black" for="instituicao">Instituição de Ensino</label>
        <div class="input-group">
        <input type="text" th:field="*{instituicao}" class="form-control" id="instituicao" th:errorclass="fieldError" required="required">
      </div>
    </div>
  </div>
  <div class="form-row">
      <div class="col-md-6 mb-2">
        <label style="color:black" for="tipo_instituicao">Tipo da instituição de Ensino</label>
        <select style="color:black" th:field="*{tipoInstituicao}" class="form-control" id="tipo_instituicao" required="required">
        <option style="color:black" value=""> Selecione uma opção</option>
          <option value="publico">Público</option>
          <option value="privado">Privado</option>
        </select>
      </div>
      <div class="col-md-6 mb-2">
        <label style="color:black" for="processo">Além do Enem, pretende realizar outro tipo de prova?</label>
          <select style="color:black" th:field="*{provas}" class="form-control" id="processo" required="required">
          <option style="color:black" value=""> Selecione uma opção</option>
            <option value="Vestibular">Vestibular</option>
            <option value="Concurso">Concurso</option>
            <option value="Apenas Enem">Apenas o Enem</option>
            <option value="Outro">Outro</option>
          </select>
      </div>
  </div>
  <div class="form-row">
    <div class="col-md-8 mb-4">
      <label style="color:black">Já realizou o Enem anos passados?</label><br>
     <input type="radio" name="enem" id="sim" value="sim" th:field="*{enem}" required="required">
      <label style="color:black" for="sim">Sim</label><br>
      <input type="radio" name="enem" id="nao" value="não" th:field="*{enem}" required="required">
      <label style="color:black" for="nao">Não</label>
    </div>
     <div class="col-md-6 mb-2">
      	<label style="color:black">Curso Pretendido:</label>
      	<div class="input-group">
      	<input type="text" th:field="*{cursoPretendido}" class="form-control" id="cursoPretendido" required="required">
      	</div>
      </div>
  </div>
  <button class="btn btn-info" type="submit" style=" margin: 0% 15% 2% 0%;  padding: 1% 5% 1% 5%; position: relative;">Salvar</button>
  <center><div th:if="${mensagemSucesso}">
								<div class="alert alert-success" th:text="${mensagemSucesso}"></div>
							</div>
						<div th:if="${mensagemErro}">
								<div class="alert alert-danger" th:text="${mensagemErro}"></div>
							</div> </center>
  <div class="form-row">
  <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
      <p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
  </div>
  </div>
</form>

</div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

 <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" align="center">
          <h5 class="modal-title" id="exampleModalLabel">Deseja Sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecione Logout se desejar sair da conta</div>
        <div class="modal-footer">
        <form th:action="@{/logout}" method="post">
          <button class="btn btn-info" type="submit">Sair</button>
        </form>
        </div>
      </div>
    </div>
  </div>

 
   <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
  
  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
  
  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
</body>
</html>