<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

	<title>Modificar Senha</title>

    <!-- Fontes para esse tema -->
      <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Tema CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

	<link rel="shortcut icon" href="img/logoazul.png" >

</head>
<body id="page-top" style="background-color: rgb(239, 245, 243);">

<!-- Menu de navegação -->
<nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav" style="background-color: #0e3b56;">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Enem Station</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold text-white rounded" style="background-color:  rgb(85,176,131);" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="" data-toggle="modal"  data-target="#modal-login">Entrar</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/cad}">Cadastro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <br><br><br><br>

<!------ Include the above in your HEAD tag ---------->
<div class="container" style=" padding: 5% 0% 5% 0%; ">
    <div class="row">
        <div class="col-md-6 offset-md-3">
                    <span class="anchor" id="formResetPassword"></span>
                   <!-- form card reset password -->
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Modificar Senha</h3>
                        </div>
                        <div th:if="${error}">
                                <div class="alert alert-danger">
                                    <span th:text="${error}"></span>
                                </div>
                            </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" th:action="@{/modificar_senha}" th:object="${modificarSenhaForm}" method="post">
                            <p class="error-message"
                                   th:if="${#fields.hasGlobalErrors()}"
                                   th:each="error : ${#fields.errors('global')}"
                                   th:text="${error}">Validation error</p>
                                   
                                   <input type="hidden" name="token" th:value="${token}"/>
                                   
                                <div class="form-group" th:classappend="${#fields.hasErrors('senha')}? 'has-error':''">
                                    <label for="inputResetPasswordEmail">Nova Senha</label> 
                                    <input th:field="*{senha}" type="password"
									required="required" class="form-control"
									id="inputResetPasswordEmail">
									<p class="error-message"
                                       th:each="error: ${#fields.errors('senha')}"
                                       th:text="${error}">Validation error</p>
							</div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('confirmarSenha')}? 'has-error':''">
                                    <label for="inputResetPasswordEmail">Confirmar Senha</label>
                                    <input th:field="*{confirmarSenha}" type="password" class="form-control" id="inputResetPasswordEmail" required="required">
                                </div>
                                <p class="error-message"
                                       th:each="error: ${#fields.errors('confirmarSenha')}"
                                       th:text="${error}">Validation error</p>
                                <div class="form-group">
                                
                                    <button type="submit" class="btn btn-success btn-lg float-center">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form card reset password -->
                </div>
    </div>
    
    
    <!--modal de login-->


    
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>

</div>
  <!--modal de login-->
  <div class="modal" tabindex="-1" role="dialog" id="modal-login">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:rgb(43, 5, 78);">
        <h5 class="modal-title" style="color: rgb(232, 238, 243)">Login</h5>
        <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close" style="background-color: white;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 5% 10% 5% 15%">
        <p class="text-monospace">Aproveite as ferramentas do nosso site!<p>
               
                  <form th:action="@{/efetuarLogin}"  method="post" >
                      <div class="form-group">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input type="email" name="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e-mail">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input name="senha" type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                      </div>
                      <button type="submit" class="btn btn-primary"> Entrar</button> <button type="button" class="btn btn-danger">Gmail</button>
                      
                      <div th:if="${mensagem}">
								<div class="alert alert-success" th:text="${mensagem}"></div>
							</div>
							<div th:if="${mensagemErro}">
								<div class="alert alert-danger" th:text="${mensagemErro}"></div>
							</div>
                    </form>
                    Esqueceu senha? <a th:href="@{/esquecer_senha}">Recuperar</a>

      </div>
      <div class="modal-footer" style="background-color: rgb(43, 5, 78); padding: 5% 41% 5% 35%;">
        <button type="button" class="btn btn-info" th:href="@{/cad}">Cadastrar</button>
      </div>
    </div>
  </div>

  
  </div>

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">

        <!-- Footer Social Icons -->

        <section class="py-4 text-center">
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </section>

        

      </div>
    </div>
  </footer>
  
  

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Enem Station 2019</small>
    </div>
  </section>
   <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
</body>
</html>