<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Colegiada :: Home</title>
  
</head>
<body>

	
	<!-- /.container -->
	<div class="container">
		<br>
		<div class="row">
			<div class="col-sm-4 py-2">
			</div>
			<div class="col-sm-4 py-2">
		<h2>Acesso Negado</h2>
				<div class="card bg-danger text-white h-100">
					<div class="card-body">
						<h4>Desculpe, você nao tem permissão!</h4>
						<a href="/">Página inicial</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>