<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="httP://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Enem Station</title>

<!-- Fontes para esse tema -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
	rel="stylesheet" type="text/css">

<!-- Tema CSS -->
<link href="css/freelancer.min.css" rel="stylesheet">


<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">
<link href="css/freelancer.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/plano.css">

</head>

<body id="page-top" style="background-color: rgb(251, 253, 253);">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Menu de navegação -->

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/ind}"> <!-- <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div> -->
				<div class="sidebar-brand-text mx-3">Administrador</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">





			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Nav Item - Charts -->
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/ind}"> <i class="fas fa-home"></i> <span>Home</span></a>
			</li>

			<!-- Nav Item - Tables -->
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/adicionando_questoes}"> <i class="fas fa-pencil-alt"></i> <span>Adicionar
						Questões</span></a></li>


			<li class="nav-item active"><a class="nav-link"
				th:href="@{/adicionar_materiais}"> <i class="fas fa-book"></i> <span>Adicionar
						Materiais</span></a></li>



			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">



		</ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!--Divider-->
						<div class="topbar-divider d-none d-sm-block"></div>


					</ul>

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container">

					<div class="card bg-light">
						<article class="card-body mx-auto" style="max-width: 600px;">
							<h4 class="card-title mt-3 text-center">Adicionar Assunto</h4>
							
							
								
							<!-- Formulário para adicionar assunto -->
							<form th:action="@{/salvarAssunto}" th:object="${assunto}"
								method="post">
								<div class="form-group input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">Assunto</span>
									</div>
									<input class="form-control" placeholder="Digite o assunto" type="text"
										th:field="*{descricao}">
								</div>
								<!-- Erro -->
							<div class="alert alert-success" th:if="${mensagem}"
								th:text="${mensagem}"></div>
							<div class="alert alert-danger" th:if="${mensagemDesc}"
								th:text="${mensagemDesc}"></div>
								<div class="form-group">
									<button type="submit" class="btn btn-secondary btn-block">
										Adicionar</button>
								</div>
								<!-- form-group// -->
							</form>

							<br>
							<br>



						</article>
					</div>
					<!-- card.// -->
					
					<br><br>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3" align="center">
              <h6 class="m-0 font-weight-bold text-primary">Assuntos</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Assunto</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr th:each="assunto : ${listar}">
                      <td th:text="${assunto.descricao}"></td>
                     
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

				</div>
				<!--container end.//-->
				<!-- End of Main Content -->


			</div>
			<!-- End of Content Wrapper -->

		</div>

		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>

		<!-- Logout Modal-->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header" align="center">
						<h5 class="modal-title" id="exampleModalLabel">Deseja Sair?</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Selecione Logout se desejar sair da
						conta</div>
					<div class="modal-footer">
						<form th:action="@{/logout}" method="post">
							<button class="btn btn-info" type="submit">Sair</button>
						</form>
					</div>
				</div>
			</div>
		</div>



		<br>
		<br>


		<!-- Footer -->
		<footer class="footer text-center">
			<div class="container">

				<!-- Footer Social Icons -->

				<section class="py-4 text-center">
					<a class="btn btn-outline-light btn-social mx-1" href="#"> <i
						class="fab fa-fw fa-facebook-f"></i>
					</a> <a class="btn btn-outline-light btn-social mx-1" href="#"> <i
						class="fab fa-fw fa-twitter"></i>
					</a> <a class="btn btn-outline-light btn-social mx-1" href="#"> <i
						class="fab fa-fw fa-linkedin-in"></i>
					</a> <a class="btn btn-outline-light btn-social mx-1" href="#"> <i
						class="fab fa-fw fa-dribbble"></i>
					</a>
				</section>



			</div>
		</footer>

		<!-- Copyright Section -->
		<section class="copyright py-4 text-center text-white">
			<div class="container">
				<small>Copyright &copy; Enem Station 2019</small>
			</div>
		</section>

		<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
		<div class="scroll-to-top d-lg-none position-fixed ">
			<a class="js-scroll-trigger d-block text-center text-white rounded"
				href="#page-top"> <i class="fa fa-chevron-up"></i>
			</a>
		</div>


		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Plugin JavaScript -->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Contact Form JavaScript -->
		<script src="js/jqBootstrapValidation.js"></script>
		<script src="js/contact_me.js"></script>

		<!-- Custom scripts for this template -->
		<script src="js/freelancer.min.js"></script>
</body>

</html>
