<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="img/logoazul.png" >

	<title>Cadastro</title>

    <!-- Fontes para esse tema -->
      <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Tema CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    
    

<script src="vendor/jquery/jquery.min.js"></script>
    
    <script>
		function validaSenha(senha, confirma_senha){
			if(senha.value != confirma_senha.value){
				confirma_senha.setCustomValidity("Senha diferentes!");
			}else{
				confirma_senha.setCustomValidity('');
			}
		}
		
		
       //MEDIDOR DE SENHA
        $(function (){
   $('#senha').keyup(function (e){
       var senha = $(this).val();        
       if(senha == ''){
         $('#senhaBarra').hide();
       }else{
         var fSenha = forcaSenha(senha);
         var texto = "";
         $('#senhaForca').css('width', fSenha+'%');
         $('#senhaForca').removeClass();
         $('#senhaForca').addClass('progress-bar');
         if(fSenha <= 40){
             texto = 'Fraca';
             $('#senhaForca').addClass('progress-bar bg-danger');
             $('#desativar').attr("disabled", true);
         }
         
         if(fSenha > 40 && fSenha <= 70){
             texto = 'Media';
             $('#senhaForca').addClass('progress-bar bg-warning');
             $('#desativar').attr("disabled", true);
         }
         
         if(fSenha > 70 && fSenha <= 90){
             texto = 'Boa';
             $('#senhaForca').addClass('progress-bar bg-info');
             $('#desativar').attr("disabled", false);
         }
         
         if(fSenha > 90){
             texto = 'Muito boa';
             $('#senhaForca').addClass('progress-bar bg-success');
             $('#desativar').attr("disabled", false);
         }
         
         $('#senhaForca').text(texto);
       
         $('#senhaBarra').show();
       }
     });
 });
     
 function forcaSenha(senha){
     var forca = 0;
     
     var regLetrasMa     = /[A-Z]/;
     var regLetrasMi     = /[a-z]/;
     var regNumero       = /[0-9]/;
     var regEspecial     = /[!@#$%&*?]/;
     
     var tam         = false;
     var tamM        = false;
     var letrasMa    = false;
     var letrasMi    = false;
     var numero      = false;
     var especial    = false;

//     console.clear();
//     console.log('senha: '+senha);

     if(senha.length >= 6) tam = true;
     if(senha.length >= 10) tamM = true;
     if(regLetrasMa.exec(senha)) letrasMa = true;
     if(regLetrasMi.exec(senha)) letrasMi = true;
     if(regNumero.exec(senha)) numero = true;
     if(regEspecial.exec(senha)) especial = true;
     
     if(tam) forca += 10;
     if(tamM) forca += 10;
     if(letrasMa) forca += 10;
     if(letrasMi) forca += 10;
     if(letrasMa && letrasMi) forca += 20;
     if(numero) forca += 20;
     if(especial) forca += 20;
         
//     console.log('força: '+forca);
     
     return forca;
 }
 
	</script>
	
	
	<script>
	//MOSTRA SENHA
    $(document).ready(function(){
  $('#showPassword').on('click', function(){
	
    var passwordField = $('#senha');
    
    var passwordFieldType = passwordField.attr('type');
    if(passwordFieldType == 'password')
    {
        passwordField.attr('type', 'text');
    } else {    	
        passwordField.attr('type', 'password');
    }
  });
  
  $('#showPassword1').on('click', function(){
		
	    var passwordField = $('#senha_repetida');
	    
	    var passwordFieldType = passwordField.attr('type');
	    if(passwordFieldType == 'password')
	    {
	        passwordField.attr('type', 'text');
	    } else {    	
	        passwordField.attr('type', 'password');
	    }
	  });
  
  $('#showModal').on('click', function(){
		
	    var passwordField = $('#senhaModal');
	    
	    var passwordFieldType = passwordField.attr('type');
	    if(passwordFieldType == 'password')
	    {
	        passwordField.attr('type', 'text');
	    } else {    	
	        passwordField.attr('type', 'password');
	    }
	  });
  
  
});
	
    
</script>
    



</head>
<body id="page-top" style="background-color:  rgb(243, 243, 243);">
     <!-- Menu de navegação -->
  <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav" style="background-color: #4E8BBF;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" th:href="@{/}">Enem Station</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold text-white rounded" style="background-color:  rgb(43, 5, 78);" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="" data-toggle="modal"  data-target="#modal-login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<!--formulario-->

<br><br><br><br><br><br>
<div class="container">

<div class="card bg-light">
<article class="card-body mx-auto " style="width: 400px;">
	<h4 class="card-title mt-3 text-center">CADASTRE-SE</h4>
	<p class="text-center">Aproveite todas nossas ferramentas</p>
	<p>
	
	<a class="btn btn-danger btn-block"  th:href="@{/loginGmailG}">Login &nbsp; <i class="fab fa-google-plus-g"> </i></a>
	
	
	<p align="center" class="divider-text">
	
	
        <span class="bg-light">OU</span>
</p>


	
	
	<form th:action="@{/addUsuario}" method="post">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input class="form-control" placeholder="Informe seu nome" name="nome" type="text">
    </div> 
 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" class="form-control" placeholder="informe seu E-mail" type="email">
    </div> 
  
    <div class="form-group input-group">
    	<div class="input-group-prepend">
    	
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
		
        <input class="form-control" id="senha"  type="password" size="16" name="senha" placeholder="Crie uma senha">
        
    	<div class="input-group-prepend">
    	
		    <span class="input-group-text" id="showPassword" value="show"> <i class="fa fa-eye" id="olho"></i> </span>
		</div>
    </div> <!-- form-group// -->
    
    <div class="form-group input-group" id="senhaBarra" style="display: none;">
    
    	<div id="senhaForca" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        </div>
		
      
        
    	
    </div> <!-- form-group// -->
    
    
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control"  type="password" size="16" id="senha_repetida" name="senhaRepetida"  placeholder="Repetir senha" oninput="javascript:validaSenha(this, document.getElementById('senha'))">
		<div class="input-group-prepend">
    	
		    <span class="input-group-text" id="showPassword1" value="show"> <i class="fa fa-eye" id="olho"></i> </span>
		</div>
	
		<div  class="alert alert-danger" th:if="${Senha_conf}" style=" top: 13px" >
		
				<div th:text="${Senha_conf}"></div>
		</div>

</div> <!-- form-group// --> 
                               
    <div class="form-group">
        <button type="submit" class="btn btn-secondary btn-block" id="desativar"> Criar Conta </button>
    </div> <!-- form-group// -->
    
     <div th:if="${mensagem}">
		<div class="alert alert-success" th:text="${mensagem}"></div>
	</div>    
    
   
      
    <p class="text-center"><label for="nao_cadastrado"> Já é cadastrado?</label>
      <a href="" data-toggle="modal" data-target="#modal-login" style="font-size: 15pt;" id="nao_cadastrado">Entrar</a>
    	</p>
    	
    	 <!-- Mensagem de Erro e sucesso -->
   <div class="alert alert-success" th:if="${mensagemSucesso}"
							th:text="${mensagemSucesso}">
						</div>
		 <div class="alert alert-danger" th:if="${Errors}">
    			<div th:if="${Errors}" th:each="lista : ${Errors}" th:text="${lista.getDefaultMessage()}"></div>
    		</div>
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br><br>
    <!--modal de login-->
  <div class="modal" tabindex="-1" role="dialog" id="modal-login">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color:rgb(43, 5, 78);">
            <h5 class="modal-title" style="color: rgb(232, 238, 243)">Login</h5>
            <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close" style="background-color: white;">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding: 5% 10% 5% 15%">
            <p class="text-monospace">Aproveite as ferramentas do nosso site!<p>
                   
                      <form th:action="@{/efetuarLogin}" th:object="${usuario}" method="post" >
                      <div class="form-group">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input th:field="*{email}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e-mail">
                      </div>
                      <div class="form-group ">
                        <label for="exampleInputPassword1">Senha</label>
                       
                       	<div class="input-group-prepend">
                       	
                       	
                       	 	<input th:field="*{senha}" type="password" class="form-control" id="senhaModal" placeholder="Senha">
                       		<span class="input-group-text" id="showModal" value="show"> <i class="fa fa-eye" id="olho"></i> </span>
						</div>
                      
                      </div>
                      <button type="submit" class="btn btn-primary"> Entrar</button> <a class="btn btn-danger" th:href="@{/loginGmailG}"> Gmail</a>
                      
                     
							<div th:if="${mensagemErroModal}">
								<div class="alert alert-danger" th:text="${mensagemErroModal}"></div>
							</div>
                    </form>
                    Esqueceu senha? <a th:href="@{/esquecer_senha}" >Recuperar</a>

      </div>
      <div class="modal-footer" style="background-color: rgb(43, 5, 78); padding: 5% 41% 5% 35%;">
        <a type="button" class="btn btn-primary" th:href="@{/cad}">Cadastrar</a>
        </div>
        </div>
      </div>
    
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>

</div>


  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Enem Station 2019</small>
    </div>
  </section>
   <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
</body>
</html>